body{
    background-color: black;
    color: white;
    overflow-y: hidden;
    vertical-align: middle;
}
.container{
    text-align: justify;
    vertical-align: middle;
}

form{
    vertical-align: auto;
    margin-top: 25%;
}

input{
    vertical-align: auto;
    margin-top: 10px;
    /* margin-left:50%; */
}

table{
    margin: 0 auto 0 auto;
}

td{
    vertical-align: auto;
}

.btn{
    background-color: white;
    margin: 0 auto 0 50%;
}

ul{
    text-align: justify;
    margin: 0 auto 0 20%;
}
p{
    text-align: center;
    margin: 0 0 0 auto;  
}