{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Rabialco's Website</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
<body>
  {% block content %}
  
    <!-- {% if form.errors %}
      <p>Your username and password didn't match. Please try again.</p>
    {% endif %} -->
    
    <div class="container">
    {% if next %}
      {% if user.is_authenticated %}
        <p>Your account doesn't have access to this page. To proceed,
        please login with an account that has access.</p>
      {% else %}
        <p>Please login to see this page.</p>
      {% endif %}
    {% endif %}
    
      <form method="post" action="{% url 'login' %}">
        {% csrf_token %}
        <table>
          <div class="container">
            <tr>
              <td>{{ form.username.label_tag }}</td>
              <td>{{ form.username }}</td>
            </tr>
          </div>
          <br>
          <br>
          <div class="container">
            <tr>
              <td>{{ form.password.label_tag }}</td>
              <td>{{ form.password }}</td>
            </tr>
          </div>
        </table>
        <input type="submit" value="login" style="margin-left: 50%;"/>
        <input type="hidden" name="next" value="{{ next }}" />
        <br>
        <br>
        {# Assumes you setup the password_reset view in your URLconf #}
        <p><a href="{% url 'login_page:register' %}">Don't have any account?</a></p>
      </form>
      
      
    {% endblock %}
    </div>
  
</body>
</html>