{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Rabialco's Website</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
<body>
<form method="POST"action="{% url 'login_page:register' %}" style="margin-top: 15%;">
    <div class="container" style="margin-left: 20%;text-align: justify;">
        {% csrf_token %}
        {{ form.as_p }}
    
        <br>
        <br>
        <button class="btn" type="submit">Register</button>
    </div>
</form>
</body>
